/* styles.css */
body {
    
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16.5px;
    line-height: 1.7em;
    text-align: left;
    letter-spacing: 1px;
    color: #333333;
  }


.color{
  color: black;
}

.indice{
  font-family: 'Jost', sans-serif;
  font-size: 14.5px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
  
a {
  color: rgb(0, 0, 0); /* Cambia "blue" al color que desees */
}

.barra{
  padding: 10px;
}

.subtitulo{
  font-family:'Noir-et-Blanc', sans-serif;
  font-weight: bold;
  line-height: 1.42;
  font-size: 42px;
  color: #222222;
  margin-bottom: 12px;
  line-height: 1;
  text-transform: none;
  letter-spacing: 2px;
  
}
