body{
    width: 70%;
    padding: 30px;
}


.fondo1_1{
    background-color:#cdd8e6;
    text-align: center;
}

.texto_azul{
    color:#5d92fc;
}

.fondo1_2{
    background-color: #e8edf4;
    text-align: center;
}


.fondo2_1{
    background-color: #cadfd9;
    text-align: center;
}

.texto_verde{
    color:#37aa95;
}

.fondo2_2{
    background-color: #e9f1ef;
    text-align: center;
}

.fondo3_1{
    background-color: #fce2cf;
    text-align: center;
}

.texto_naranja{
    color:#e5bd8e;
}

.fondo3_2{
    background-color: #fef0e9;
    text-align: center;
}


.fondo4_1{
    background-color: #e9cecd;
    text-align: center;
}

.texto_rojo{
    color: #cb665a;
}

.fondo4_2{
    background-color: #f4e8e8;
    text-align: center;
}
/**************************************************/
.borde_rubik{
    border: black 3px solid;
    border-spacing: 0;
}

.cubo_amarillo{
    background-color: #ffff00;
    margin:10px;
    width: 70px;
    height:70px;
    border: black 1px solid;
}

.cubo_cafe{
    background-color: brown;
    margin:10px;
    width: 70px;
    height:70px;
    border: black 1px solid;
}

.cubo_verde{
    background-color: green;
    margin:10px;
    width: 70px;
    height:70px;
    border: black 1px solid;
}
.cubo{
    background-color: white;
    margin:10px;
    width: 70px;
    height:70px;
    border: black 1px solid;
}
.cubo_azul{
    background-color: blue;
    margin:10px;
    width: 70px;
    height:70px;
    border: black 1px solid;
}

.cubo_rojo{
    background-color: red;
    margin:10px;
    width: 70px;
    height:70px;
    border: black 1px solid;
}

#fondo{
    background-color: black;
}
.letra_cafe{
    color: brown;
    font-size: 20pt;
}

.letra_amarilla{
    color: yellow;
    font-size: 20pt;
}

.letra_verde{
    color: green;
    font-size: 20pt;
}

.letra_azul{
    color: blue;
    font-size: 20pt;
}

.letra{
    color: white;
    font-size: 20pt;
}

.letra_roja{
    color: red;
    font-size: 20pt;
}
/*************************************************/

#titulo2{
    text-align: center;
    
}

caption{
    text-align: center;
}

.encabezado{
    background-color: #6699ff;
    color: white;
}

.contenido1{
    background-color: #e7f3fe;
    text-align: center;
}

.contenido2{
    color: rgba(128,21,27,255);
}
/**********************************************/
.negro{
    text-align: center;
    background-color: black;
    color: white;
}

.azul{
    text-align: center;
    background-color: #5d92fc;
    color: white;
}

.amarillo{
    text-align: center;
    background-color: rgba(255,255,153,255);
}

.centrar{
    text-align: center;
}
