body{
    width: 70%;
    padding: 30px;
}


#calendario{
    color: #333c46;
    font-family: sans-serif;
}

.meses{
    width: 80%;
    border: black 1px solid;
    margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
}
/**************************************************/
.borde_rubik{
    border: black 3px solid;
    border-spacing: 0;
}

.cubo_amarillo{
    background-color: #ffff00;
    margin:10px;
    width: 70px;
    height:70px;
    border: black 1px solid;
}

.cubo_cafe{
    background-color: brown;
    margin:10px;
    width: 70px;
    height:70px;
    border: black 1px solid;
}

.cubo_verde{
    background-color: green;
    margin:10px;
    width: 70px;
    height:70px;
    border: black 1px solid;
}
.cubo{
    background-color: white;
    margin:10px;
    width: 70px;
    height:70px;
    border: black 1px solid;
}
.cubo_azul{
    background-color: blue;
    margin:10px;
    width: 70px;
    height:70px;
    border: black 1px solid;
}

.cubo_rojo{
    background-color: red;
    margin:10px;
    width: 70px;
    height:70px;
    border: black 1px solid;
}

/*************************************************/

#titulo2{
    text-align: center;
    
}

caption{
    text-align: center;
}

.encabezado{
    background-color: #6699ff;
    color: white;
}

.contenido1{
    background-color: #e7f3fe;
    text-align: center;
}

.contenido2{
    color: rgba(128,21,27,255);

}
/**********************************************/
.negro{
    text-align: center;
    background-color: black;
    color: white;
}

.azul{
    text-align: center;
    background-color: #5d92fc;
    color: white;
}

.amarillo{
    text-align: center;
    background-color: rgba(255,255,153,255);
}

.centrar{
    text-align: center;
}
