.content{
    text-align: center;
    align-items: center;
    padding: 200px;
}


span{
    font-size: 5.5rem;
    color: #d2418f; 
    padding: 1rem 0;
    line-height: 1.5; 
    font-family: 'Jost', sans-serif;
}

p{
    font-size: 1.5rem;
    color: #999;  
    padding: 1rem 0;
    line-height: 1.5; 
    font-family: 'Jost', sans-serif;
    text-transform: capitalize;
}