body{
    text-align: center;
    background-color: rgb(253, 205, 255);
}

.caja{
    border: solid 2px rgb(30, 2, 55);
    margin: 20px;
    
}

.medida_mm{
    border: rgb(126, 40, 125) 2px solid;
    margin:10px;
    width: 50mm;
    height: 50mm;
}

.medida_cm{
    border: rgb(126, 40, 125) 2px solid;
    margin:10px;
    width: 5cm;
    height: 5cm;
}

.medida_in{
    border: rgb(126, 40, 125) 2px solid;
    margin:10px;
    width: 142.85pt;
    height: 142.85pt;
}



.medida_pt{
    border: rgb(126, 40, 125) 2px solid;
    margin:10px;
    width: 142.85pt;
    height: 142.85pt;
}

.medida_pc{
    border: rgb(126, 40, 125) 2px solid;
    margin:10px;
    width: 11.82pc;
    height:11.82pc;
}

.medida_px{
    border: rgb(126, 40, 125) 2px solid;
    margin:10px;
    width: 185.55px;
    height:185.55px;

}

.art1{
    border: rgb(126, 40, 125) 2px solid;
    margin:10px;
    font-size: 18px;
}

.art1 h2{
    font-size: 1.5em;
}

.art1 p{
    font-size: 2em;
}

.art2{
    border: rgb(126, 40, 125) 2px solid;
    margin:10px;
    font-size: 18px;
}

.art2 h2{
    font-size: 1.5ex;
}

.art2 p{
    font-size: 2ex;
}

.art3{
    border: rgb(126, 40, 125) 2px solid;
    margin:10px;
    font-size: 18px;
}

.art3 h2{
    font-size: 1.5rem;
}

.art3 p{
    font-size: 2rem;
}

.porcentaje1{
    border: rgb(126, 40, 125) 2px solid;
    width: 70%;
}

.porcentaje2{
    margin: 10px;
    border: rgb(126, 40, 125) 2px solid;
    width: 40%;
}

.color_rojo{
    background-color: red;
    color: white;
}

.color_verde{
    background-color: green;
    color: white;
}

.color_azul{
    background-color: blue;
    color: white;
}

.color_negro{
    background-color: black;
    color: white;
}

.color_amarillo{
    background-color: yellow;
    color:black;
}

.color_naranja{
    background-color: orangered;
    color:black;
}

.color_naranja_rgb{
    background-color: orangered;
    color:black;
}
.color_rojo_rgb{
    background-color: rgb(100%, 0%, 0%);
}

.color_verde_rgb{
    background-color: rgb(0%, 100%, 0%);
}
.color_azul_rgb{
    background-color: rgb(0%, 0%, 100%);
}

.alfa1{
    background: rgba(0%, 0%, 100%, 0.5);
}

.alfa2{
    background: rgba(0, 255, 0, 1);
    top: -100px;
    left: 100px;
    position: relative;
}

/* --------------------------*/
.naranja_hex{
	background: #FF9900;
	color: white;
}

.rojo_hex{
	background: #FF0000;
	color: white;
}

.verde_hex{
	background: #00FF00;
	color: white;
}

.azul_hex{
	background: #0000FF;
	color: white;
}

.rojo_hsl{
	background: hsl(0, 100%, 50%);
	color: white;
}

.verde_hsl{
	background: hsl(120, 100%, 50%);
	color: white;
}

.azul_hsl{
	background: hsl(240, 100%, 50%);
	color: white;
}

table{
	width: 80%;
	border: black 1px solid;
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
}

.td100{
	background: hsl(0, 100%, 50%); 
}

.td90{
	background: hsl(0, 90%, 50%); 
}

.td80{
	background: hsl(0, 80%, 50%); 
}

.td70{
	background: hsl(0, 70%, 50%); 
}

.td60{
	background: hsl(0, 60%, 50%); 
}

.td50{
	background: hsl(0, 50%, 50%); 
}

.td40{
	background: hsl(0, 40%, 50%); 
}

.td30{
	background: hsl(0, 30%, 50%); 
}

.td20{
	background: hsl(0, 20%, 50%); 
}

.td10{
	background: hsl(0, 10%, 50%); 
}

.td0{
	background: hsl(0, 0%, 50%); 
}

.td100l{
	background: hsl(0, 100%, 100%); 
}

.td90l{
	background: hsl(0, 100%, 90%); 
}

.td80l{
	background: hsl(0, 100%, 80%); 
}

.td70l{
	background: hsl(0, 100%, 70%); 
}

.td60l{
	background: hsl(0, 100%, 60%); 
}

.td50l{
	background: hsl(0, 100%, 50%); 
	color: white;
}

.td40l{
	background: hsl(0, 100%, 40%); 
	color: white; 
}

.td30l{
	background: hsl(0, 100%, 30%); 
	color: white; 
}

.td20l{
	background: hsl(0, 100%, 20%); 
	color: white; 
}

.td10l{
	background: hsl(0, 100%, 10%); 
	color: white; 
}

.td0l{
	background: hsl(0, 100%, 0%); 
	color: white; 
}

.alpha1hsla{
	background: hsla(190, 100%, 50%, 1.0);
}

.alpha2hsla{
	position: relative;
	background: hsla(240, 100%, 50%, 0.5);
	color: white;
	top: -125px;
	left: 100px;
}





